@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #06060A;
  font-family: 'Space Grotesk', sans-serif;
}


body {
  margin: 0;
  padding: 0;
}
